<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="content/images/slide3.jpg" width="100%" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="content/images/slide1.jpg" width="100%" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="content/images/slide2.jpg" width="100%" alt="Random second slide">
      </div>
    </ng-template>
  </ngb-carousel>
</div>


<div class="container-fluid" style="background-color: #fff">
  <!-- home page (bottom) 2 boxes -->
  <div class="boxes_bottom">
    <div class="container">
      <div class="row">

        <!-- (1) first box -->
        <div class="col-md-6 mb-5">
          <a href="/mostWantedCategories">
            <div class="box_b1">
              <h2>Location de camion de qualité professionnelle</h2>
              <p>
                Fly Car est doté d’une large gamme d’utilitaires en location : camionnette 3m3, 6m3, camion 20m3 avec hayon, poids lourd, benne basculante, etc. Des utilitaires soigneusement entretenus et contrôlés pour offrir aux particuliers comme aux professionnels des véhicules de qualité sur Paris et sa couronne à prix compétitif.          </p>
            </div>
          </a>
        </div>

        <!-- (2) second box -->
        <div class="col-md-6 mb-5">
          <a href="/borrowedVsSelf">
            <div class="box_b2">
              <h2>Location utilitaire en aller simple</h2>
              <p>
                Découvrez le service de location d’utilitaire en aller simple imaginé par Fly Car à la fois économique et écologique. Cette formule est particulièrement adaptée à la location de camion de déménagement. Pratique, elle s'applique à tous les utilitaires disponibles pour toutes vos destinations en France et en Europe.          </p>
            </div>
          </a>
        </div>

      </div>
      <div class="row">
        <!-- (1) first box -->
        <div class="col-md-6 mb-5">
          <a href="/agencyMarket">
            <div class="box_b1">
              <h2>Location de camion de qualité professionnelle</h2>
              <p>
                Fly Car est doté d’une large gamme d’utilitaires en location : camionnette 3m3, 6m3, camion 20m3 avec hayon, poids lourd, benne basculante, etc. Des utilitaires soigneusement entretenus et contrôlés pour offrir aux particuliers comme aux professionnels des véhicules de qualité sur Paris et sa couronne à prix compétitif.          </p>
            </div>
          </a>
        </div>

        <!-- (2) second box -->
        <div class="col-md-6 mb-5">
          <a href="/rentingRevenue">
            <div class="box_b2">
              <h2>Location utilitaire en aller simple</h2>
              <p>
                Découvrez le service de location d’utilitaire en aller simple imaginé par Fly Car à la fois économique et écologique. Cette formule est particulièrement adaptée à la location de camion de déménagement. Pratique, elle s'applique à tous les utilitaires disponibles pour toutes vos destinations en France et en Europe.          </p>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <!-- (1) first box -->
        <div class="col-md-12 mb-5">
          <a href="/workSeason">
            <div class="box_b1">
              <h2>Location de camion de qualité professionnelle</h2>
              <p>
                Fly Car est doté d’une large gamme d’utilitaires en location : camionnette 3m3, 6m3, camion 20m3 avec hayon, poids lourd, benne basculante, etc. Des utilitaires soigneusement entretenus et contrôlés pour offrir aux particuliers comme aux professionnels des véhicules de qualité sur Paris et sa couronne à prix compétitif.          </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
